@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

ul {
    list-style: none;
}
h2, h3 {
    text-transform: uppercase;
}

img { 
    width: 100%;
}

.btn {
    padding: .8rem 3rem;
    background: #85d9bf;
    border: none;
    display: inline-block;
    font-size: .8rem;
    border-radius: 40px;
    color: #000;
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}

.container {
    background:#85d9bf;
    height: 100vh;
}


/* header */
header {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    padding-top: 1rem;
}

nav a {
    color: #fefffc;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-left: 1.5rem;
}

.logo {
   color: #fefffc;
   font-size: 1.5rem;
}

/* Showcase */

.showcase {
    display: flex;
    align-items: center;
    color: #fefffc;
    text-transform: uppercase;
    height: 80vh;
}

.showcase h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: lighter;
}

.title {
    display: block;
    font-size: 3rem;
    font-weight: bold;
}

#cta {
    background: #fefffc;
    border-radius: 40px;
    color: #000;
    margin-top: 2rem;
}

/* Main Area */

/* Services */

.container-1 {
    max-width: 1000px;
    width: 90%;
    margin: auto;
}

.services h2 {
    font-size: 2rem;
}

.services p {
    font-size: .8rem;
}

.us {
    margin-top: 1rem;
}

.branding {
    background: #ccffef;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    margin: 1rem 0;
}

.branding-inner {
    padding-left: 2rem;
}


/* Samples */

.samples h2 {
    font-size: 2rem;
}

.samples ul li {
    text-align: center;
}

.samples ul li a {
    background: #ccffef;
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
}

.samples ul li a:hover {
    background: #85d9bf;
}

.mobile {
    margin-top: 2rem;
}
.mobile h3 {
    font-size: 1.5rem;
}

.mobile .btn {
    margin-top: 2rem;
    font-size: .7rem;
    padding: .7rem .9rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* Meet the Crew */

.crew {
    margin-top: 3rem;
}

.crew h3 {
    font-size: 1.5rem;
}

.crew-card .btn {
    font-size: .7rem;
    padding: .7rem .9rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.apply h3 {
    font-size: 1.5rem;
}

.apply {
    margin-bottom: 3rem;
    text-align: center;
}

/* Footer */

footer {
    text-align: center;
    background:#85d9bf;
    font-size: .5rem;
    line-height: 2;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;

}



/* Apply */

form {
    text-align: center;
}

input[type=email] {
    padding: .8rem 7rem;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 40px;
    outline: none;
  }
  

  @media (min-width: 700px) {

    .showcase h1 {
        font-size: 3rem;
    }
    
    .title {
        font-size: 4rem;
    }
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2.5rem;
        margin-top: 1rem;
      }

    .branding {
        padding: 2rem 1rem;
        margin: 0;
    }

    .samples {
        margin-top: 2rem;
    }
      .samples ul {
        display: flex;
        justify-content: space-around;
    }

    .samples ul li {
        width: 100%;
    }

    .crew {
        margin: 0;
    }
    .crew-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-top: 1rem;    
    }
  }

  @media (min-width: 800px) {

    .services {
        margin-top: 2rem;
      }

    .branding {
        padding: 3rem 1.5rem;
        margin: 0;
    }
   
    .samples h2, .services h2 {
        font-size: 3rem;
    }

  }